# Core packages
pandas>=1.5.3
numpy>=1.23.5

# Visualization
matplotlib>=3.7.1
seaborn>=0.12.2

# Web scraping
requests>=2.31.0
beautifulsoup4>=4.12.2
lxml>=4.9.3  # optional, used by bs4 as parser

# NLP & embeddings
nltk>=3.8.1
jieba>=0.42.1
keybert>=0.7.0
sentence-transformers>=2.2.2
langdetect>=1.0.9
langid>=1.1.6
tqdm>=4.66.1

# LangChain & OpenAI
langchain>=0.1.14
langchain-community>=0.0.28
langchain-openai>=0.0.8
openai>=1.14.3
tiktoken>=0.6.0
faiss-cpu>=1.7.4  # used for vector similarity search


# PDF processing
PyMuPDF>=1.23.9  # corresponds to `fitz`

# Web app
streamlit>=1.30.0
